script.
  window.addEventListener("load", function() {
    document.body.classList.add('loaded');
  })

//- script.
  document.addEventListener("DOMContentLoaded", function() {
    const font = document.createElement('link');
    font.href = "https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap";
    font.rel = "stylesheet";
    font.crossorigin = "anonymous";
    document.head.appendChild(font);
  });

<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet" crossorigin="anonymous">